<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css_web/main.css">
    <link rel="stylesheet" href="css_web/create-blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>start Fundraiser</title>
    <link rel="icon" href="img_web/favicon.ico">
</head>
<body>
    <nav>
        <div class="start-fund-nav-container">
          <div class="nav-heading">
            <img class="nav-logo" src="img_web/Akshar_logo_white.png" alt="nav-logo">
            <a href="landing-home.html"><h1 class="landing-nav-heading">अAKSHAR</h1></a>
          </div>
            <p class="nav-text">
                Create a new blog
            </p>
        </div>
    </nav>
    </div>
    <div class="center">
        <form method="post" id="start-fund-form">
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Name</label>
          </div>
          <div class="txt_field">
            <input type="email" required>
            <span></span>
            <label>Email ID</label>
          </div>
          <div class="txt_field">
            <input type="tel" pattern="[0-9]{10}" required>
            <span></span>
            <label>Phone no.</label>
          </div>
          <div class="txt_field">
            <input type="text" required>
            <span></span>
            <label>Blog Heading</label>
          </div>
            <textarea name="" id="textarea" cols="30" rows="10" form="start-fund-form" placeholder="Write your blog here" required></textarea>    
        </form>
        <form action="" style="display: flex; align-items : center; padding-top: 20px;">
          <label for="uploaded-file" style="color: #adadad; ">Upload relevant documents regarding your blog:</label>
          <input type="file" name="" id="uploaded-file" multiple style="color: #adadad;">
        </form>
        <div class="submit-button">
            <a href="#">
                <buttton type="submit" class="form-btn">
                    Submit
                </buttton>
              </a>
        </div>
      </div>
    
    <script src="../js/start-fundraiser.js"></script>
</body>
</html>